.zarada-widget-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #f0f0f0;
    font-family: "Bai Jamjuree", sans-serif;
}

.zarada-title {
    font-size: 1.5rem;
    color: #f0f0f0;
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 1rem;
}

.zarada-summary {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: "Bai Jamjuree", sans-serif;
}

.zarada-summary p {
    margin: 0;
    color: #ccc;
    font-size: 1rem;
    font-family: "Bai Jamjuree", sans-serif;
}

.zarada-total {
    margin: 0.5rem 0 0 0;
    font-size: 2.2rem;
    font-weight: bold;
    color: #ffa500; /* Narandžasta boja */
}

.chart-container {
    flex-grow: 1;
    position: relative;
    height: 300px; /* Definišemo visinu za kontejner grafikona */
    width: 100%;
    font-family: "Bai Jamjuree", sans-serif;
}

.chart-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #888;
    font-family: "Bai Jamjuree", sans-serif;
}