:root {
  --primary-color: #ff3c00;
  --secondary-color: #ff3c00;
  --accent-color: #ff3c00;
  --text-color: #222;
  --card-bg: #ffffff;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --button-bg: var(--primary-color);
  --button-text: #fff;
  --button-hover: var(--secondary-color);
}
/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Bai Jamjuree", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-image: url('../src/images/pozadina3.png');
}

@media (max-width: 576px) {
  html,
  body,
  #root {
    /* stretch the image to the full screen */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
  }
}

/* App container */
.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
}

/* Header */
.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
